@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-main-color1: #292F36;
    --bg-main-color2: #CDA274;
    --bg-main-color3: #F4F0EC;
    --font1: 'Jost', sans-serif;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 19;
    --font2: 'DM Serif Display', serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
.loader{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.item-center {
    display: flex !important;
    justify-content: center !important;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

nav {
    display: flex;
    background: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 25px;
    /* justify-content: space-between; */
}

nav img {
    margin-left: 120px;
}

nav ul {
    margin-left: 484px;
    display: flex;
    margin-top: 2px;
    margin-bottom: 0px;
}

nav ul li {
    padding: 8px 8px;
    margin-right: 24px;
}

nav ul li a {
    font-family: var(--font1);
    color: var(--bg-main-color1);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    position: relative;
}

a:hover {
    color: inherit !important;
}

a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--bg-main-color2);
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}

nav ul li:hover a::after {
    width: 100%;
    left: 0;
}

.bg-header {
    background: url(../images/header-img.png)center;
    width: 100%;
    height: 840px;
    background-size: cover;
    border-radius: 0px 0px 0px 219px;
}

.header-content {
    margin-left: 120px;
    padding-top: 69px;
}

.header-content h1 {
    width: 608px;
    height: 192px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    /* position: relative; */
}

/* typing animation */
.typewriter {
    /* font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
} */
}

.typewriter {
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    from {
        border-color: var(--text-color);
    }

    to {
        border-color: transparent;
    }
}

/* typing animation ended */
.header-content p {
    width: 649px;
    height: 70px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: var(--bg-main-color1);
    margin-top: 18px;
}

.header-content button {
    background: var(--bg-main-color1);
    color: #FFFFFF;
    align-items: center;
    padding: 22px 32px;
    border: 0px;
    border-radius: 18px;
    margin-top: 48px;
    width: 196px;
    height: 70px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    transition: 300ms;
}

.header-content button:hover {
    background: transparent;
    color: var(--bg-main-color1);
    border: 1px solid var(--bg-main-color1);
}

.fa-arrow-right {
    color: var(--bg-main-color2);
    margin-left: 14px;
}

.section1 {
    padding-top: 114px;
}

.sec-1-card {
    height: 326px;
    width: 384px;
    border-radius: 32px;
    padding: 60px 36px 60px 36px;
    border-radius: 32px;
    transition: 1s;
}

.sec-1-card h1 {
    text-align: center;
    height: 36px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 16px;
}

.sec-1-card p {
    color: var(--bg-main-color1);
    width: 312px;
    height: 96px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0px;
}

.sec-1-card a {
    font-family: var(--font1);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--bg-main-color1);
    margin-top: 32px;
}

.sec-1-card:hover {
    background-color: #F4F0EC;
    transform: scale(1.1);
}

.section2 {
    padding-top: 120px;
}

.sec2-content {
    margin-top: 45px;
}

.sec2-content h1 {
    width: 482px;
    height: 138px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 69px;
    color: var(--bg-main-color1);
    margin-bottom: 24px;
}

.sec2-content p {
    width: 510px;
    height: 128px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin-bottom: 0px;
}

.call-pill {
    margin-top: 48px;
}

.call {
    height: 93px;
    width: 93px;
    background: #F4F0EC;
    border-radius: 50%;
    padding: 31px;
}

.call-num {
    padding-top: 10px;
    margin-left: 15px;
}

.call-num a {
    text-decoration: none;
    width: 219px;
    height: 35px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--bg-main-color1);
}

.call-num span {
    width: 147px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
}

.sec2-content button {
    align-items: center;
    padding: 22px 32px;
    width: 247px;
    height: 70px;
    background: #292F36;
    border-radius: 18px;
    color: #FFFFFF;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin-top: 48px;
    border: 0px;
    transition: 300ms;
}

.sec2-content button:hover {
    background: transparent;
    color: var(--bg-main-color1);
    border: 1px solid var(--bg-main-color1);
}

/* .sec2-content button:hover .sec2-content button i{
    color: var(--bg-main-color1);
} */
.section3 {
    padding-top: 120px;
}

.sec3-container {
    height: 620px;
    background: #F4F0EC;
    border-radius: 60px;
    padding-top: 85px;
}

.sec3-container h1 {
    width: 511px;
    height: 132px;
    margin: auto;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
}

.sec3-row {
    margin-top: 40px;
    padding-left: 36px;
}

.sec3-card {
    height: 278px;
    width: 349px;
    border-radius: 32px;
    padding: 32px 18px 50px 34px;
    background-color: #FFFFFF;
}

.sec3-card h2 {
    width: 135px;
    height: 33px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 6px;
    color: var(--bg-main-color1);

}

.name-sec3 {
    padding-top: 6px;
    margin-left: 16px;
}

.sec3-card span {
    width: 118px;
    height: 26px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--bg-main-color1);
}

.sec3-card p {
    width: 297px;
    height: 87px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-top: 32px;
    color: var(--bg-main-color1);
}

.section4 {
    padding-top: 120px;
}

.section4 img {
    width: fit-content;
    margin: auto;
}

.lg-center {
    display: grid;
    justify-content: center;
}

.sec-4-logos {
    padding: 31px 0px;
    padding-left: 50px;
}

.section5 {
    padding-top: 120px;
}

.section5 h1 {
    width: 511px;
    margin: auto;
    height: 66px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.section5 p {
    width: 767px;
    height: 64px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: var(--bg-main-color1);
    margin: auto;
    margin-bottom: 64px;
}

.sec5-card {
    padding-bottom: 50px;
}

.sec5-card-main-img {
    width: 100%;
    height: 650px;
    border-radius: 0px 80px 0px 0px;
}

.sec5-card-content {
    margin-top: 33px;
    justify-content: space-between;
}

.sec5-card h2 {
    width: 284px;
    height: 33px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 10px;
}

.sec5-card h3 {
    width: 253px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
}

.sec5-card-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #F4F0EC;
    padding: 23px 23px 22px 23px;
}

.section6 {
    margin-top: 80px;
    background: #F4F0EC;
    padding-bottom: 142px;
    padding-top: 143px;
}

.section6 h1 {
    height: 117px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 117px;
    text-align: center;
    color: #CDA274;
    margin-bottom: 7px;
}

.section6 p {
    text-align: center;
    width: 188px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin: auto;
}

.border-right {
    width: 100%;
    height: 196px;
    border-right: 1px solid #CDA274;
}

.section7 {
    padding-top: 120px;
}

.section7 h1 {
    margin: auto;
    width: 511px;
    height: 66px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: var(--bg-main-color1);
    margin-bottom: 24px;
}

.section7 p {
    width: 767px;
    height: 64px;
    margin: auto;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: var(--bg-main-color1);
    margin-bottom: 56px;
}

.sec7-card {
    width: 100;
    height: 487px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 16px 16px;
    border: 1px solid #F4F0EC;
    margin-bottom: 30px;
}

.sec7-card .main-img {
    width: 100%;
    height: 290px;
    border-radius: 22px 22px 0px 0px;
}

.sec7-card h2 {
    width: 323px;
    height: 66px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-top: 17px;
    margin-bottom: 30px;
    margin-left: 1px;
}

.sec7-card h3 {
    width: 115px;
    height: 26px;
    margin: auto 0px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--bg-main-color1);
    margin-left: 1px;
}

.sec7-card button {
    width: 52px;
    height: 52px;
    background: #F4F0EC;
    border: 0px;
    border-radius: 50%;
}

.sec7-card:hover {
    background: #F4F0EC;
}

.sec7-card:hover .sec7-card button {
    background: #FFFFFF;
}

.section8 {
    padding-top: 90px;
}

.sec8-container {
    background: var(--bg-main-color1);
    border-radius: 80px;
    padding-top: 92px;
    padding-bottom: 91px;
}

.section8 h1 {
    width: 689px;
    height: 66px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 17px;
}

.section8 h2 {
    margin: auto;
    width: 379px;
    height: 35px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.section8 .fa-arrow-right {
    color: #FFFFFF;
}

.section8 button {
    padding: 22px 32px;
    width: 247px;
    height: 70px;
    background: #CDA274;
    border-radius: 18px;
    border: 0px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

footer {
    padding-top: 134px;
    border-bottom: 1px solid #F4F0EC;
    padding-bottom: 48px;
}

.footer-1 p {
    width: 306px;
    height: 113px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin-top: 16px;
}

footer h1 {
    width: fit-content;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 18px;
}

.footer-2 a {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 57px;
    text-decoration: none;
    color: var(--bg-main-color1);
    position: relative;
}

.footer-3 a {
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 57px;
    text-decoration: none;
    color: var(--bg-main-color1);
    position: relative;
}

footer li {
    width: fit-content;
}

.footer-3 {
    margin-left: 8px
}

footer ul li:hover a::after {
    width: 100%;
    left: 0;
}

.footer-4 {
    margin-left: 38px;
}

.footer-4 p {
    width: 329px;
    height: 64px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin-bottom: 55px;
}

.footer-4 h3 {
    width: 347px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin-bottom: 40px;
}

.footer-4 span {
    width: 347px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
}

.copyright-section h1 {
    width: 640px;
    margin: auto;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: var(--bg-main-color1);
    margin-top: 40px;
    margin-bottom: 48px;
}

/*-----------about css-----------*/
.bg-header-about {
    width: 100%;
    height: 350px;
    background: url(../images/about.png)center;
}

.header-content-about {
    margin-left: 120px;
    padding-top: 47px;
}

.header-content-about h1 {
    font-family: var(--font2);
    width: 328px;
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 96px;
    color: var(--bg-main-color1);

}

.header-content-about span {
    width: 166px;
    height: 32px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
}

.header-content-about span a {
    color: var(--bg-main-color1);
    text-decoration: none;
}

.section1-about {
    padding-top: 136px;
}

.sec1-about-content {
    margin-top: 21px;
}

.sec1-about-content h1 {
    width: 482px;
    height: 69px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 69px;
    color: var(--bg-main-color1);
    margin-bottom: 16px;
}

.sec1-about-content p {
    width: 458px;
    height: 128px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--bg-main-color1);
    margin-bottom: 51px;
}

.sec1-about-content button {
    padding: 22px 32px;
    width: 207px;
    height: 70px;
    background: var(--bg-main-color1);
    border-radius: 18px;
    border: 0px;
    color: #FFFFFF;
}
.sec1-about-content button:hover{
    background: transparent;
    border: 1px solid var(--bg-main-color1);
    color: var(--bg-main-color1);
}
.section2-about {
    padding-top: 136px;
}

.section3-about {
    margin-top: 136px;
    padding-top: 85px;
    height: 855px;
    background: #F4F0EC;
}

.section3-about h1 {
    width: 511px;
    height: 66px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    margin: auto;
    color: #000000;
    margin-bottom: 16px;
}

.section3-about p {
    width: 657px;
    height: 119px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: var(--bg-main-color1);
    margin: auto;
    margin-bottom: 46px;
}

.section3-about img {
    width: 100%;
}

.section3-about h2 {
    width: 143px;
    height: 33px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: var(--bg-main-color1);
    margin: auto;
    margin-top: 16px;
}

.section3-about span {
    display: block;
    width: 118px;
    height: 26px;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--bg-main-color1);
    margin: auto;
    margin-top: 8px;
}

.section4-about {
    padding-top: 146px;

}

.section5-about {
    padding-top: 143px;
}

.section5-about h1 {
    width: 633px;
    height: 132px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 66px;
}

.sec5-big-input {
    width: 958px !important;
    margin: auto !important;
    margin-bottom: 42px !important;
}

.section6-about {
    padding-top: 112px;
}

.container-about-6 {
    background-color: #F4F0EC;
    padding-top: 73px;
    padding-bottom: 75px;
    border-radius: 60px;
    text-align: center;
}

.container-about-6 h1 {
    width: 847px;
    height: 82px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: var(--bg-main-color2);
    margin: auto;
    margin-top: 8px;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
    .header-content-about {
        margin-left: 35px;
        padding-top: 86px;
    }

    .header-content-about h1 {
        font-family: var(--font2);
        width: 100%;
        height: fit-content;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 16px;
    }

    .section1-about {
        padding-top: 70px;
    }

    .sec1-about-content h1 {
        width: 100%;
        height: fit-content;
        font-size: 46px;
    }

    .sec1-about-content p {
        width: 100%;
        height: fit-content;
        font-size: 20px;
        line-height: 28px;
    }

    .sec1-about-content button {
        margin-bottom: 32px;
    }

    .section1-about img {
        width: 100%;
    }

    .section2-about {
        padding-top: 70px;
    }

    .section2-about img {
        width: 100%;
    }

    .section3-about {
        margin-top: 70px;
        padding-top: 60px;
        height: fit-content;
    }

    .section3-about h1 {
        width: 100%;
        height: 66px;
        font-size: 46px;
    }

    .section3-about p {
        width: 100%;
        height: fit-content;
        font-size: 20px;
        line-height: 30px;
    }

    .sec3-about-card {
        margin-bottom: 24px;
    }

    .section3-about h2 {
        width: 100%;
        height: fit-content;
        margin-top: 8px;
        font-size: 22px;
    }

    .section3-about span {
        margin-top: 0px;
    }

    .section5-about {
        padding-top: 80px;
    }

    .section5-about h1 {
        width: 100%;
        height: fit-content;
        font-size: 40px;
        line-height: 50px;
    }

    .input-control {
        width: 100% !important;
        margin-bottom: 42px !important;
    }

    label {
        font-size: 20px !important;
    }

    input {
        font-size: 19px;
    }

    input.input--focused+label {
        font-size: 16px !important;
    }

    .input-l {
        padding-bottom: 0px !important;
    }

    .section6-about {
        padding-top: 80px;
    }

    .container-about-6 {
        padding-top: 60px;
        padding-bottom: 60px;
        border-radius: 40px;
    }

    .container-about-6 h1 {
        width: 90%;
        height: fit-content;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .header-content-about {
        margin-left: 75px;
        padding-top: 65px;
    }

    .section1-about {
        padding-top: 75px;
    }

    .sec1-about-content button {
        margin-bottom: 40px;
    }

    .sec1-about-content h1 {
        width: 100%;
        height: fit-content;
        font-size: 48px;
        margin-bottom: 12px;
    }

    .sec1-about-content p {
        width: 666px;
        height: fit-content;
        font-size: 22px;
        line-height: 32px;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .section2-about {
        padding-top: 75px;
    }

    .section3-about {
        margin-top: 80px;
        padding-top: 65px;
        height: fit-content;
    }

    .section3-about h1 {
        width: 100%;
        height: fit-content;
    }

    .section3-about p {
        width: 100%;
    }

    .sec3-about-card {
        margin-bottom: 32px;
    }

    .section3-about h2 {
        width: 100%;
        height: fit-content;
        margin-top: 8px;
    }

    .section3-about span {
        width: 100%;
        height: fit-content;
        margin-top: 0px;
    }

    .section5-about {
        padding-top: 90px;
    }

    .section5-about h1 {
        width: 100%;
        height: fit-content;
        font-size: 46px;
    }

    .input-control {
        width: 100% !important;
        margin-bottom: 42px !important;
    }

    label {
        font-size: 20px !important;
    }

    input {
        font-size: 19px;
    }

    input.input--focused+label {
        font-size: 16px !important;
    }

    .input-l {
        padding-bottom: 0px !important;
    }

    .section6-about {
        padding-top: 80px;
    }

    .container-about-6 {
        background-color: #F4F0EC;
        padding-top: 65px;
        padding-bottom: 65px;
        border-radius: 40px;
    }

    .container-about-6 h1 {
        width: 90%;
        height: fit-content;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .header-content-about {
        margin-left: 80px;
      }
      .section1-about {
        padding-top: 90px;
      }
      .sec1-about-content {
        margin-top: 0px;
      }
      .section1-about img{
        width: 100%;
        height: 100%;
      }
      .sec1-about-content h1 {
        width: 100%;
        font-size: 48px;
      }
      .sec1-about-content p {
        width: 100%;
        height: fit-content;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 28px;
      }
      .section2-about img{
        width: 100%;
        height: 100%;
      }
      .section2-about .sec1-about-content{
        margin-left: 10px;
      }
      .section3-about {
        margin-top: 90px;
        padding-top: 70px;
        height: fit-content;
        padding-bottom: 50px;
      }
      .section5-about {
        padding-top: 90px;
      }
      .section6-about {
        padding-top: 90px;
      }
}